$main-color:#EEEDDE;
$second-color:#E0DDAA;
$third-color:#203239;
$fourth-color:#141E27;
$white:white;
$black:black;

body {
	background:$main-color;
	font-family: 'Fredoka', sans-serif;
	font-size: 14pt;
  font-weight: 400;
}

.navigation-menu{
  border:2px solid transparent;
  display:flex;
  width:101%;
  background-color: $second-color;
  margin: -10px 0px 0px -10px;
  position: fixed;
  z-index:100;
  justify-content: space-between;
  .logo{
    width:20%;
    img{
      width:20%;
      margin: 2px 15px;
    }
  }
  .menu{
    margin:20px;
    button{
      border:none;
      background-color: transparent;
      font-size:12pt;
      font-weight: 700;
      color:#203239;
      a{
        text-decoration: none;
        color:#203239;
      }
    }
  }
  .icons{
    width:30%;
    margin:20px 0px;  
    text-align: center;
    a{
      text-decoration:none;
      margin:5px;
      margin-right:30px;
      margin-left:20px;
      color:$third-color;
    }
  }
}

.page-content{
  width:100%;
  display: flex;
  flex-direction: column;
}
/*---------Styling carousel banner---*/
.slideshow-container {
  max-width: 950px;
  position: relative;
  margin: auto;
  color:$white;
  margin-top:111px;

    /* Styling the Left text */
    .text-left {
      position: absolute;
      font-size: 50px;
      top:3%;
      left:5%;
    }
    .minitext-left{
      position: absolute;
      font-size: 15px;
      font-weight:400;
      top:50%;
      left:6%;
    }
    .viewmorebtn{
      position: absolute;
      border:2px solid $third-color;
      border-radius:25px;
      background-color: $third-color;
      padding:10px 35px;
      bottom:20%;
      left:6%;
      text-transform: uppercase;
        a{
          text-decoration: none;
          color:$white;
        }
    }
    .viewmorebtn:hover{
      background-color: $white;
      color:$third-color;
      a{
        color:$third-color;
      }
    }
    /*Styling the center text */
    .text-center {
      left: 31%;
      text-align: center;
    }
    .minitext-center{
      left:32%;
      text-align: center;
    }
    .center{
      text-align: center;
      left:42%;
    }
    /*Styling the right text*/
    .text-right{
      position: absolute;
      font-size: 50px;
      top:3%;
      right:5%;
      text-align:right;
    }
    .minitext-right{
      position: absolute;
      font-size: 15px;
      font-weight:400;
      top:50%;
      right:10%;
      text-align:right;
    }
    .viewmorebtn-right{
      position: absolute;
      border:2px solid $third-color;
      border-radius:25px;
      background-color: $third-color;
      padding:10px 35px;
      bottom:20%;
      right:10%;
      text-transform: uppercase;
        a{
          text-decoration: none;
          color:$white;
        }
    }
    .viewmorebtn-right:hover{
      background-color: $white;
      color:$black;
      a{
        color:black;
      }
    }

}

/* Hide the images by default */
.mySlides {
  display: none;
  
  img{
    width:100%;
  }
}
.alldots{
  position: absolute;
  text-align:center;
	bottom:5%;
  width:100%;
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0% 1%;
    background-color: $white;
    border:4px solid transparent;
    opacity:0.502;
    border-radius: 50%;
    display:inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    border:4px solid $white;
    background-color: transparent;
    opacity:1;
  }
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
//----------------------ABOUT-US SECTION-----------------
.about-section{
  margin:5% 20%;
  margin-bottom: -5%;
  h1{
    text-align: center;
    font-size:40pt;
  }
  p{
    font-size:12pt;
    text-align: center;
    line-break:loose;
    font-weight: 300;
  }
  img{
    width: 40%;
    position: relative;
    right: -30%;
    top: -95px;
    opacity: 0.75;
  }
}
.our-instruments{
  border:2px solid $third-color;
  color:$white;
  background-color: $third-color;
  text-align:center;
  margin:0px -8px;  
  margin-bottom: 2%;
  padding-bottom: 4%;
  p{
    font-weight:300;
    font-size:12pt;
    margin-bottom:2%;
  }
  .multiple-items{
    margin-left: 8%;
    display:flex;
  }
  .slick-arrow{
    border:none;
    box-sizing:none;
    background-color: transparent;
    color:white;
    font-size: 17pt;
    margin-right: 3.5%;
  }
}
.upcoming-artists{
  border:2px solid $main-color;
  color:$black;
  background-color: $main-color;
  text-align:center;
  margin:0px -8px;  
  margin-bottom: 2%;
  padding-bottom: 4%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  p{
    font-weight:300;
    font-size:12pt;
  }
  h1{
    font-size:3em;
  }
  .artists{
    border:2px solid #E0DDAA;
    background-color: #E0DDAA;
    color:$black;
    display: flex;
    flex-direction: column;
    width:50%;
    align-items:center;
    border-radius:20px;
    
    .row{
      display: flex;
      flex-direction: row;
      padding:2%;
      width: 100%;
      justify-content: space-between;
      .numbers{
        font-weight: 700;
        margin-left: 14%;
      }
      .name{
        font-weight:700;
        
      }
      button{
        border:2px solid $third-color;
        border-radius:25px;
        background-color: $third-color;
        padding:10px 35px;
        margin: 9px;
        margin-right: 40px;
        a{
          text-decoration: none;
          color:white;
          font-family: inherit;
          text-transform: uppercase;
        }
        &:hover{
          background-color: $white;
          color:$black;
          a{
            color:$black;
          }
        }
      }
    }
  }
}
.image-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0 10%;
  .row{
    display: flex;
    width:100%;
    margin:10px 12px;
    img{
      width: 40%;
    }
    iframe{
      width:60%;
      margin-right:10%;
    }
    .text{
      margin-right:10%;
      p{
        font-weight: 100;
      }
      button{
        border:2px solid $fourth-color;
        background-color: $fourth-color;
        border-radius:25px;
        padding:10px 25px;
        box-shadow: 5px 5px 5px $third-color;
        a{
          text-decoration: none;
          color:white;
        }
      }
    }
    .text1{
      margin-right:0;
      p{
        font-weight: 100;
      }
    }
    .text2{
      margin-left:10%;
      p{
        font-weight: 100;
      }
    }
  }
}
.footer{
  border:2px solid $third-color;
  color:$white;
  background-color: $third-color;
  margin: 0px -8px;
  margin-bottom: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title{
    text-align: center;
    p{
      font-weight:200;
    }
    h1{
      margin:0;
      margin-top:40px;
      font-size: 40pt;
    }
  }
  .images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    img{
      width:15%;
      margin: 2% 0.5%;
    }
  }
  .social-media{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    .copyright{
      p{
        font-weight:200;
      }
    }
    .social-icons{
      width:20%;
      a{
        text-decoration: none;
        color:$white;
        margin-left:11%;
      }
    }
  }
}